html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background: whitesmoke;
    cursor: none;
}

#canvas {
    display: block;
    background: white;
    border: 2px solid black;
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;
}


@media only screen and (max-width: 1080px) {
    #canvas {
        width: 95%;
    }
}

@media only screen and (max-height: 480px) {
    #canvas {
        height: 95%;
    }
}