@font-face {
    font-family: 'MiniPixel-7';
    src: url(./assets/fonts/mini_pixel-7.ttf);
    font-style: normal;
    font-weight: 400;
}


html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background: whitesmoke;
    cursor: none;
}

img:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
    transform: scale(105%);
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    margin: 16px;
}

/* Canvas */
#canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: white;
}

#canvas:fullscreen {
    height: 50px;
}

/* Buttons */
#play {
    position: absolute;
    top: calc(50% - 7.5%);
    left: calc(50% - 10%);
    width: 20%;
    height: 15%;
    user-select: none;
}

#fullscreen {
    position: absolute;
    top: 5%;
    right: 4%;
    width: 4%;
    user-select: none;
}

#mute {
    position: absolute;
    top: 5%;
    right: 10%;
    width: 4%;
    user-select: none;
}

/* Touch Control */
#left {
    position: absolute;
    top: 80%;
    left: 15%;
    display: none;
    width: 8%;
    user-select: none;
}

#right {
    position: absolute;
    top: 80%;
    left: 30%;
    display: none;
    width: 8%;
    user-select: none;
}

#jump {
    position: absolute;
    top: 80%;
    right: 15%;
    display: none;
    width: 8%;
    user-select: none;
}

#attack {
    position: absolute;
    top: 80%;
    right: 30%;
    display: none;
    width: 8%;
    user-select: none;
}

/* Loading Screen */
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

#loading-screen #loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: flex-start;
    width: 40%;
    height: 6%;
    margin: 0;
    border: 4px solid #525252;
    background-color: white;
    transform: translate(-50%, -50%);
}

#loading-screen #progress {
    width: 0%;
    height: 100%;
    margin: 0;
    background: orange;
}

#boat {
    position: absolute;
    bottom: 10%;
    left: 2%;
    width: 18%;
    animation: sail 2s linear;
}

@keyframes sail {
    0% {
        left: 2%;
    }

    100% {
        left: 80%;
    }
}

#water {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/sprites/loading_screen/water.png');
    background-repeat: repeat-x;
    background-position: right bottom;
    background-size: 20% 20%;
}

#cloud1 {
    position: absolute;
    top: 25%;
    left: 65%;
}

#cloud2 {
    position: absolute;
    top: 10%;
    left: 10%;
}

/* End Screen */
#end-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.8);  
}

#end-message {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    font-family: 'MiniPixel-7';
    font-size: 120px;
    user-select: none;
    transform: translate(-50%, -50%);
}

#replay {
    position: absolute;
    top: calc(65% - 6%);
    left: calc(50% - 4%);
    width: 8%;
    height: 12%;
    user-select: none;
}

/* Cursor */
#cursor {
    position: fixed;
    top: 0;
    left: 0;
}
